* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Monstera*/

h1 {
    font-family: "quasimoda-2", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 6rem;
    color:#082D0C;
}

.mbanner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F4FFF2;
    height: 30vh;
    border-style:dotted;
    border-color:#082D0C;
    padding: 1rem;
}

nav {
    text-transform: capitalize;
    padding: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    font-family: "quasimoda", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
    text-transform: capitalize;
    color: white;
}

h3 {
    font-family: "quasimoda", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-transform: capitalize;
    font-size: 2rem;
    color: #082D0C;
}

h4 {
    font-family: "quasimoda", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1.5rem;
    text-transform: capitalize;
    color: #082D0C;
    display: flex;
    position: relative;
    bottom: 40px;
}

.mtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../images/monsterabackground2.jpg) no-repeat center center;
    width: 100%;
    position: sticky;
    top: 0px
}

.articlem {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    height: auto;
    grid-column-gap: 1rem;
    grid-row-gap: 4rem;
    background-color: #E3F9DA;
}

.caring {
    grid-column: 1;
    grid-row: 2;
} 

.one, .mone {
    grid-column: 1;
    grid-row: 3;
    display: flex;

}

.two, .mtwo {
    grid-column: 2;
    grid-row: 3;
}

img {
    grid-column: 2;
    grid-row: 1;
    border-radius: 50%;
}

article p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5rem;
}

aside {
    grid-column: 1;
    grid-row: 1;
    font-size: 1.5rem;
}

aside p {
    display: flex;
    justify-content: center;
    position: relative;
    top: 80px;
    color: #062409;
    font-family: "quasimoda", sans-serif;
    font-weight: 200;
    font-style: normal;
    line-height: 3rem;
}

.three, .mthree {
    grid-column: 1;
    grid-row: 4;
}

.four, .mfour {
    grid-column: 2;
    grid-row: 4; 
}

footer {
    font-family: "quasimoda-2", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1.5rem;
    text-transform: capitalize;
    color: #062409;
    display: flex;
    justify-content: center;
    border-style: dotted;
    border-color: #062409;
    background-color: #F4FFF2;
}



/* peace lily */

.ptitle {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../images/peacelilybackground3.jpeg) center center;
    width: 100%;
    position: sticky;
    top: 0px
}

.ptitle h2 {
    color: #320D36;
}

.articlep {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    height: auto;
    grid-column-gap: 1rem;
    grid-row-gap: 4rem;
    background-color: #F5C7FE;
}

/* majesty palm */

.articlemp {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    height: auto;
    grid-column-gap: 1rem;
    grid-row-gap: 4rem;
    background-color: #FFDEB0;
}

.mptitle {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../images/palmbackground2.jpg) center center;
    width: 100%;
    position: sticky;
    top: 0px
}

.mptitle h2 {
    color: #E0E0DE;
}

/* aloe */

.articlea {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    height: auto;
    grid-column-gap: 1rem;
    grid-row-gap: 4rem;
    background-color: #EBE8FF;
}

.atitle {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../images/aloebackground2.jpg) center center;
    width: 100%;
    position: sticky;
    top: 0px
}

.atitle h2 {
    color: #3D6B41;
}

.fact {
    grid-column: 1;
    display: flex;
    position: relative;
    bottom: 1500px;
    background-color:#9FB0B1;
    padding: 1rem;
    border-style: double;
    border-color: white;
}


